@charset "UTF-8";

:root {
    --color1: #a10000;
    --color2: #920c0c;
    --color3: #cf3939;
    --color4: #ffbb00;
    --color5: #e0e0e0;
}

* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: yellow;
    text-decoration: none;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

*::-webkit-scrollbar {
    max-width: 12px;
  }
  
*::-webkit-scrollbar-thumb {
    background-color: var(--color2);
    border-radius: 20px;
}

a {
    font-weight: bold;
}

a:hover, #selecionado {
    background-color: var(--color2);
    border-bottom: 5px solid;
}

body {
    background-image: url(../images/background.jpg);
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header, nav, article, footer, section, aside {
    padding: 10px;
    text-align: center;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
}

header, footer {
    background-image: linear-gradient(to bottom, var(--color1), var(--color3));
}

header > *, footer > * {
    color: white;
}

section {
    background-color: var(--color2);
}

article {
    background-color: var(--color5);
    min-height: 300px;
    border-radius: 5px;
}

article > p {
    color: var(--color2);
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px 0;
}

nav, article, section, aside {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px;
}

nav > *, aside > * {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color1);
    padding: 5px;
    height: 20%;
    width: 100%;
}

div#scrollable {
    overflow-y: scroll;
    max-height: 750px;
    width: 700px;
}

nav, aside {
    background-color: #cf3939a1;
    width: 300px;
    height: 750px;
    border-radius: 10px;
    backdrop-filter: 3px;
}

@media (max-width: 800px) {

    header, footer {
        box-shadow: none;
    }

    main {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    nav, aside {
        background-color: var(--color3);
        margin: 0;
        flex-direction: row;
        height: 50px;
        width: 100%;
        box-shadow: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    nav > *, aside > * {
        width: 25%;
        height: 100%;
    }

    div#scrollable {
        max-height: none;
        width: 100%;
    }
}
